/* ============= footer */
html,body {scroll-behavior: smooth;}
#footer {
    padding: 50px 0;
    border-top: 3px solid #ffe600;
}
footer .ft_wrap {
    margin-bottom: 30px;
}
footer .ft_wrap h1 {
    text-align: center;
    margin: 0 auto;
}
footer .ft_wrap h1 a {
    display: inline-block;
    width: 200px;
}
footer .ft_wrap h1 a  img {
    width: 100%;
}
footer address .ft_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer address .ft_list li {
    margin-bottom: 10px;
}
footer address .ft_list li span {
    display: inline-block;
    font-size: 0.875rem;
}
footer address .ft_list li span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 1rem;
    background-color: #aaa;
}
footer address .ft_list li span:last-child:after {display: none;}
footer address .copyright {
    margin-top: 30px;
    text-align: center;
}
/* ============ top_btn */
.top_btn {
    position: fixed;
    bottom: 20px;
    right: 50px;
}