/* ================ 공통 */
/* ============ sec01 */
.sec01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    height: 500px;
    text-align: center;
    background-image: url("../images/bg-about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec01 h1 {
    font-family: 500;
    font-size: 2.5rem;
}
.sec01 h1 + p {
    margin: 50px 0;
    font-size: 1.25rem;
}
.sec01 .select_menu {display: flex;}
.sec01 .select_menu li a {
    padding: 10px 20px;
    border: 1px solid #aaa;
    color: #aaa;
    background-color: #fff;
}
.sec01 .select_menu li.active a {
    color: #000;
    border-color: #000;
    background-color: #FFE600;
}